@using CalcProject.Models;
@model Calc;
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Input</title>
</head>
<body>
    <h1>@Convert.ToString(Model.A)</h1>
</body>
<tail>@Html.ActionLink("Вернуться в главное меню", "ProjectMenuPage", "Calc")</tail>
</html>
