@model double
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>FirstQuestOutput</title>
    <h1>Вывод ответа</h1>
</head>
<body>
    <label>Минимальный элемент массива равен @Convert.ToString(Model)</label>
</body>
<tail>@Html.ActionLink("Вернуться в главное меню", "ProjectMenuPage", "Calc")</tail>
</html>
