@model IEnumerable<ElectronicShop.Storage.Entity.BattaryFeature>;
@{
    ViewData["Title"] = "Output";
}

<h1>Характеристики аккумуляторов</h1>
<br />
<br />
<br />

@using (Html.BeginForm("FindByCapacity", "BattaryFeature", FormMethod.Get))
{
    <form action="" method="get">
        <input name="BattaryCapacity" placeholder="Введите Емоксть" type="search">
        <button type="submit">Поиск</button>
    </form>
}
@using (Html.BeginForm("FindByCurrentOutput", "BattaryFeature", FormMethod.Get))
{
    <form action="" method="get">
        <input name="CurrentOutput" placeholder="Введите Токоотдачу" type="search">
        <button type="submit">Поиск</button>
    </form>
}
<body>
    @foreach (var tmp in Model)
    {
        <label>Id</label><br />@tmp.id<br />
        <label>Емкость Аккумулятора</label><br />@tmp.battaryCapacity<br />
        <label>Напряжение Аккумулятора</label><br />@tmp.voltage<br />
        <label>Токоотдача Аккумулятора</label><br />@tmp.currentOutput<br />
        @using (Html.BeginForm("RedactBattery", "BattaryFeature", FormMethod.Get))
        {
            <a href="/BattaryFeature/RedactBattery/@tmp.id">Редактировать Характеристики</a>
        }
        @using (Html.BeginForm("DeleteBattery", "BattaryFeature", FormMethod.Get))
        {
            <a href="/BattaryFeature/DeleteBattery/@tmp.id">Удалить</a>
        }

        <br />
        <br />
        <br />
    }
    <a href="/Feature/Output/">Вернуть к характеристикам устройства</a>
    <br />
    <br />
    <br />

</body>

